nav.navbar.navbar-default(role='navigation')
  .navbar-header
    button.navbar-toggle(data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
      span.sr-only Toggle Navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a(class='navbar-brand', href='/') World Traveler
  .collapse.navbar-collapse#bs-example-navbar-collapse-1
    ul.nav.navbar-nav.navbar-left
      li: a(href='/about') About
      li: a(href='/faq') FAQ
      li: a(href='/contact') Contact
      li: a(href='/vacations/new') New Vacation

